{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <div class="row" id="cards-container">
    <!--  cards dinamicos -->
  </div>
</div>


<style>
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.15);
  }


  .card-title {
    color: #22c90c;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0.5rem;
  }


  .deporte {
    background-color: #c8c8c8;
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
    margin-right: 1px;
  }
</style>



<script>
  function cargarLocales() {
    fetch('/api_canchas')
      .then(response => response.json())
      .then(data => {
        const container = document.getElementById('cards-container');

        container.innerHTML = '';
        if (!data || data.length === 0) {
          container.innerHTML = '<p>No hay canchas disponibles.</p>';
          return;
        }

        data.forEach(local => {
          const col = document.createElement('div');
          col.className = 'col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4';

          let deportesHtml = '<div class="d-flex flex-wrap justify-content-center gap-2 mb-2">';
          if (local.Deportes && local.Deportes.length > 0) {
            deportesHtml += local.Deportes.map(dep => `
              <div class="deporte d-inline-block">${dep}</div>
            `).join('');
          } else {
            deportesHtml += `<div class="deporte d-inline-block">No cuenta con deportes</div>`;
          }
          deportesHtml += '</div>';

          col.innerHTML = `
            <a href="/local/${local.idLocal}"  style="text-decoration: none; color: inherit;">
              <div class="card" id="card-${local.idLocal}">
                <img src="/static/assets/img/${local.banner}" class="card-img-top w-100" style="height: 200px;" alt="${local.nombre}">
                <div class="card-body">
                  ${deportesHtml}
                  <h5 class="card-title">${local.nombre}</h5>
                  <p class="mb-1">
                    <i class="bi bi-clock-history" style="color: ${local.estado === 'A' ? 'green' : 'red'};"></i>
                    <span> ${local.estado === 'A' ? 'Abierto' : 'Cerrado'}</span>
                  </p>
                  <p class="mb-1">
                    <i class="bi bi-geo-alt" style="color: blue;"></i>
                    <span> ${local.direccion}</span>
                  </p>
                  <p class="mb-1">
                    <img src="/static/assets/img/cancha.png" alt="Cancha" width="20" height="20">
                    cuenta con ${local.cantidad_cancha} ${local.cantidad_cancha === 1 ? 'cancha' : 'canchas'}
                  </p>
                </div>
              </div>
            </a>
          `;

          container.appendChild(col);

          // col.querySelector('.card').addEventListener('click', (e) => {
          //   e.preventDefault();

          //   console.log('Detalles del local:');
          //   console.log('ID:', local.idLocal);
          //   console.log('Nombre:', local.nombre);
          //   console.log('Dirección:', local.direccion);
          //   console.log('Estado:', local.estado);
          //   console.log('Banner:', local.banner);
          //   console.log('Cantidad de canchas:', local.cantidad_cancha);
          //   console.log('Deportes:', local.Deportes.length > 0 ? local.Deportes.join(', ') : 'No cuenta con deportes');
          // });

        });
      })
      .catch(error => {
        console.error('Error al obtener los datos:', error);
      });
  }

  cargarLocales();

  setInterval(cargarLocales, 10000);
</script>



<!-- <script>
  document.querySelectorAll('.card').forEach(card => {
    const p = card.querySelector('.card-text');
    const fullText = p.getAttribute('data-text');
    let interval;

    card.addEventListener('mouseenter', () => {
      let index = 0;
      p.textContent = '';
      clearInterval(interval); // prevenir múltiples intervalos

      interval = setInterval(() => {
        p.textContent = fullText.slice(0, index + 1); // IZQUIERDA A DERECHA
        index++;
        if (index >= fullText.length) {
          clearInterval(interval);
        }
      }, 30);
    });

    card.addEventListener('mouseleave', () => {
      clearInterval(interval); // detener si se va antes de terminar
      p.textContent = ''; // reiniciar texto
    });
  });
</script> -->





{% endblock %}
