{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <div class="row" id="cards-container">
    <!--  cards dinamicos -->
  </div>
</div>


<style>
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.15);
  }


  .card-title {
    color: #22c90c;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0.5rem;
  }


  .deporte {
    background-color: #c8c8c8;
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
    margin-right: 1px;
  }
</style>



<script>

  function obtenerHoraPeru() {
    // Obtiene la hora actual de Perú (UTC-5)
    const now = new Date();
    const offsetPeru = -5; // Perú es UTC-5
    const utc = now.getTime() + now.getTimezoneOffset() * 60000;
    const peruTime = new Date(utc + (3600000 * offsetPeru));

    const dia = String(peruTime.getDate()).padStart(2, '0');
    const mes = String(peruTime.getMonth() + 1).padStart(2, '0');
    const anio = peruTime.getFullYear();

    const hora = String(peruTime.getHours()).padStart(2, '0');
    const minuto = String(peruTime.getMinutes()).padStart(2, '0');
    const segundo = String(peruTime.getSeconds()).padStart(2, '0');

    const fecha = `${dia}/${mes}/${anio}`;
    const horaActual = `${hora}:${minuto}:${segundo}`;

    return { hora: horaActual, fecha: fecha };
  }

  function obtenerSiguienteHorario(horarios, horaActualDate, anio, mes, dia) {
    const tramos = ['Mañana', 'Tarde', 'Noche'];
    for (let i = 0; i < horarios.length; i++) {
      const tramo = horarios[i];
      const [hInicio, mInicio] = tramo.inicio.split(':');
      const [hFin, mFin] = tramo.fin.split(':');

      let horaInicioDate = new Date(anio, mes - 1, dia, hInicio, mInicio);
      let horaFinDate = new Date(anio, mes - 1, dia, hFin, mFin);

      if (horaFinDate <= horaInicioDate) {
        horaFinDate.setDate(horaFinDate.getDate() + 1);
      }

      if (horaActualDate < horaInicioDate) {
        return `${tramos[i]}: ${tramo.inicio} - ${tramo.fin}`;
      }
    }

    // Si no hay turnos futuros hoy, se muestra el primer turno del día siguiente
    const t = horarios[0];
    return `Mañana: ${t.inicio} - ${t.fin}`;
  }

  function cargarLocales() {
    fetch('/api_canchas')
      .then(response => response.json())
      .then(data => {

         console.log("Locales obtenidos:", data);

        const container = document.getElementById('cards-container');

        container.innerHTML = '';
        if (!data || data.length === 0) {
          container.innerHTML = '<p>No hay canchas disponibles.</p>';
          return;
        }

        // Obtener hora y fecha actual de Perú
        const { hora, fecha } = obtenerHoraPeru();
        const [horaActual, minutoActual, segundoActual] = hora.split(':'); // Separar hora, minuto y segundo
        const [dia, mes, anio] = fecha.split('/'); // Separar día, mes y año

        //la hora y fecha actuales de Perú
        const horaActualDate = new Date(anio, mes - 1, dia, horaActual, minutoActual, segundoActual);

        console.log('Hora actual en Perú:', horaActualDate);  // Verificando la hora actual

        data.forEach(local => {
          const col = document.createElement('div');
          col.className = 'col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4';

          let deportesHtml = '<div class="d-flex flex-wrap justify-content-center gap-2 mb-2">';
          if (local.Deportes && local.Deportes.length > 0) {
            deportesHtml += local.Deportes.map(dep => `
              <div class="deporte d-inline-block">${dep}</div>
            `).join('');
          } else {
            deportesHtml += `<div class="deporte d-inline-block">No cuenta con deportes</div>`;
          }
          deportesHtml += '</div>';

          let estadoHorario = "Cerrado"; // Por defecto, cerrado

          // Verificamos si el local tiene un horario definido
          if (typeof local.horario === 'string' && local.horario.includes(':')) {
            const partes = local.horario.match(/(\d{2}:\d{2})/g);

            if (partes && partes.length >= 6) {
              const horarios = [
                { inicio: partes[0], fin: partes[1] },
                { inicio: partes[2], fin: partes[3] },
                { inicio: partes[4], fin: partes[5] }
              ];

              for (let tramo of horarios) {
                const [hInicio, mInicio] = tramo.inicio.split(':');
                const [hFin, mFin] = tramo.fin.split(':');

                const horaInicioDate = new Date(anio, mes - 1, dia, hInicio, mInicio);
                let horaFinDate = new Date(anio, mes - 1, dia, hFin, mFin);

                if (horaFinDate <= horaInicioDate) {
                  horaFinDate.setDate(horaFinDate.getDate() + 1);
                }

                if (horaActualDate >= horaInicioDate && horaActualDate <= horaFinDate) {
                  estadoHorario = "Abierto";
                  break;
                }
              }
              if (estadoHorario === "Cerrado") {
                proximoHorario = obtenerSiguienteHorario(horarios, horaActualDate, anio, mes, dia);
              }
            }
          }

          col.innerHTML = `
            <a href="/local/${local.idLocal}"  style="text-decoration: none; color: inherit;">
              <div class="card" id="card-${local.idLocal}">
                <img src="/static/assets/img/${local.banner}" class="card-img-top w-100" style="height: 200px;" alt="${local.nombre}">
                <div class="card-body">
                  ${deportesHtml}
                  <h5 class="card-title">${local.nombre}</h5>
                  <p class="mb-1">
                    <i class="bi bi-clock-history" style="color: ${estadoHorario === 'Abierto' ? 'green' : 'red'};"></i>
                    <span> ${estadoHorario}</span>
                    ${estadoHorario === 'Cerrado' && proximoHorario ? `<br><small>Próximo horario turno ${proximoHorario}</small>` : ''}
                  </p>
                  <p class="mb-1">
                    <i class="bi bi-geo-alt" style="color: blue;"></i>
                    <span> ${local.direccion}</span>
                  </p>
                  <p class="mb-1">
                    <img src="/static/assets/img/cancha.png" alt="Cancha" width="20" height="20">
                    cuenta con ${local.cantidad_cancha} ${local.cantidad_cancha === 1 ? 'cancha' : 'canchas'}
                  </p>
                </div>
              </div>
            </a>
          `;

          container.appendChild(col);

          // col.querySelector('.card').addEventListener('click', (e) => {
          //   e.preventDefault();

          //   console.log('Detalles del local:');
          //   console.log('ID:', local.idLocal);
          //   console.log('Nombre:', local.nombre);
          //   console.log('Dirección:', local.direccion);
          //   console.log('Estado:', local.estado);
          //   console.log('Banner:', local.banner);
          //   console.log('Cantidad de canchas:', local.cantidad_cancha);
          //   console.log('Deportes:', local.Deportes.length > 0 ? local.Deportes.join(', ') : 'No cuenta con deportes');
          // });

        });
      })
      .catch(error => {
        console.error('Error al obtener los datos:', error);
      });
  }

  cargarLocales();

  setInterval(cargarLocales, 10000);
</script>



<!-- <script>
  document.querySelectorAll('.card').forEach(card => {
    const p = card.querySelector('.card-text');
    const fullText = p.getAttribute('data-text');
    let interval;

    card.addEventListener('mouseenter', () => {
      let index = 0;
      p.textContent = '';
      clearInterval(interval); // prevenir múltiples intervalos

      interval = setInterval(() => {
        p.textContent = fullText.slice(0, index + 1); // IZQUIERDA A DERECHA
        index++;
        if (index >= fullText.length) {
          clearInterval(interval);
        }
      }, 30);
    });

    card.addEventListener('mouseleave', () => {
      clearInterval(interval); // detener si se va antes de terminar
      p.textContent = ''; // reiniciar texto
    });
  });
</script> -->





{% endblock %}
