{% extends 'base_interna.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/cancha.css') }}">

<div class="container">
  <!-- Cabecera mejorada -->
  <div class="header">
    <h1 class="fw-bold text-center">{{ local_info[0][0] }}</h1>

    <!-- Card con imagen y datos del local, ahora con clase 'header-card' -->
    <!-- Card con imagen y datos del local, ahora con clase 'header-card' -->
<div class="info-container shadow p-3 mb-4">
  
    <!-- Imagen Banner al costado izquierdo -->
    <div class="banner-box">
      <img src="{{ url_for('static', filename='assets/img/' + local_info[0][6]) }}" alt="Banner del Local" class="banner-img">
    </div>
    
    <!-- Información del local al costado derecho -->
    <div class="local-info ms-4">
      <p><strong>Dirección:</strong> {{ local_info[0][1] }}</p>
      <p><strong>Correo Electrónico:</strong> {{ local_info[0][2] }}</p>
      <p><strong>Teléfono:</strong> {{ local_info[0][3] }}</p>
      <!--<div class="social-links">
        <p><strong>Redes Sociales:</strong></p>
        <p><strong>Facebook:</strong> ElEsfericoFutbol</p>
        <p><strong>Instagram:</strong> @elesfericofutbol</p>
      </div>-->
      <div class="social-buttons">
        <a href="https://facebook.com/ElEsferico" class="facebook" target="_blank">
          <i class="bi bi-facebook"></i> Facebook
        </a>
        <a href="https://instagram.com/elesfericofutbol" class="instagram" target="_blank">
          <i class="bi bi-instagram"></i> Instagram
        </a>
      </div>
      <div class="turno-box">
        <h5>Turnos:</h5>
        <p><strong>Mañana:</strong> 10:00 AM - 01:59 PM</p>
        <p><strong>Tarde:</strong> 02:00 PM - 05:59 PM</p>
        <p><strong>Noche:</strong> 06:00 PM - 10:00 PM</p>
      </div>
   
  </div>

</div>

  </div>
  <div class="text-center mb-4">
    <h2 class="text-primary fw-bold">Canchas Disponibles</h2>
  </div>


  <div class="row g-4 pb-5">
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <img src="{{ url_for('static', filename='assets/img/cancha1.jpg') }}" class="card-img-top img-fluid" alt="Imagen de la cancha">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Cancha Sintética El Golazo</h5>
          <blockquote style="font-style: italic; color: #2c3e50; border-left: 4px solid #2980b9; padding-left: 10px;">
            Cancha con buena iluminación nocturna. Excelente para partidos en la noche o en días lluviosos, con tribunas para espectadores.
         </blockquote>
       <!--<p style="background-color: #e0f7fa; padding: 0.5rem; border-radius: 8px;">
        Cancha con buena iluminación nocturna. Excelente para partidos en la noche o en días lluviosos, con tribunas para espectadores.
     </p>-->
            

          <p><strong>Puntuación:</strong> 
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star text-warning"></i>
            <i class="bi bi-star text-warning"></i>
          </p>
          <p><strong>Precio por hora:</strong> S/. 40.00</p>
          <!--<p><strong>Horario de atención:</strong> 10:00 AM - 22:00 PM</p>-->
          <p><strong>Seleccione el Horario de Reserva:</strong>
          <div class="form-group">
            <label>Hora de inicio:</label>
            <input type="time" class="form-control">
          </div>
          <div class="form-group mt-2">
            <label>Hora de fin:</label>
            <input type="time" class="form-control">
          </div>

          <div class="caracteristicas">
            <p>Cuenta con:</p>
            <ul class="mb-0">
              <li>Tribuna</li>
              <li>Iluminación Nocturna</li>
              <li>Baños</li>
            </ul>
          </div>

          <div class="mt-auto pt-3 d-grid gap-2">
            <a href="https://wa.me/123456789" class="btn btn-whatsapp">
              <i class="bi bi-whatsapp me-1"></i> Contactar por WhatsApp
            </a>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#puntuacionModal3">
              <i class="bi bi-star me-1"></i> Añadir Puntuación
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Repite otras canchas aquí -->
    <div class="col-md-4">
      <div class="card">
        <img src="{{ url_for('static', filename='assets/img/cancha2.jpg') }}" class="card-img-top img-fluid" alt="Imagen de la cancha">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">La Canchita Libre</h5>
          <blockquote style="font-style: italic; color: #2c3e50; border-left: 4px solid #2980b9; padding-left: 10px;">
          Ideal para partidos rápidos con amigos. Superficie sintética bien cuidada, perfecta para jugar sin importar el clima
       </blockquote>
    <!--<p style="background-color: #e0f7fa; padding: 0.5rem; border-radius: 8px; font-size: 1.1rem; font-weight: 600; color: #333;">
      Ideal para partidos rápidos con amigos. Superficie sintética bien cuidada, perfecta para jugar sin importar el clima
   </p> -->
         <p><strong>Puntuación:</strong> 
           <i class="bi bi-star-fill text-warning"></i>
           <i class="bi bi-star-fill text-warning"></i>
           <i class="bi bi-star-fill text-warning"></i>
           <i class="bi bi-star text-warning"></i>
           <i class="bi bi-star text-warning"></i>
         </p>
          <p><strong>Precio por hora:</strong> S/. 30.00</p>
             <!--<p><strong>Horario de atención:</strong> 10:00 AM - 22:00 PM</p>-->
             <p><strong>Seleccione el Horario de Reserva:</strong>

         <!-- Selector de horario -->
         <div class="form-group">
           <label>Hora de inicio:</label>
           <input type="time" class="form-control">
         </div>
         <div class="form-group mt-2">
           <label>Hora de fin:</label>
           <input type="time" class="form-control">
         </div>

         <div class="caracteristicas">
          <p>Cuenta con:</p>
          <ul class="mb-0">
            <li>Tribuna</li>
            <li>Bar</li>
            <li>Baños</li>
          </ul>
        </div>
          <div class="mt-auto pt-3 d-grid gap-2">
           <a href="https://wa.me/123456789" class="btn btn-whatsapp">
             <i class="bi bi-whatsapp me-1"></i> Contactar por WhatsApp
           </a>
        
           <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#puntuacionModal3">
             <i class="bi bi-star me-1"></i> Añadir Puntuación
           </button>     
         </div>
        </div>
      </div>
    </div>
    
    <!--<div class="col-md-4">
      <div class="card">
        <img src="{{ url_for('static', filename='assets/img/cancha3.jpg') }}" class="card-img-top" alt="Imagen de la cancha">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Cancha 3</h5>
          <p class="card-text">Descripción breve de la cancha.</p>
          <p><strong>Puntuación:</strong> <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i></p>
          <p><strong>Precio por hora:</strong> S/. 70.00</p>
          <a href="https://wa.me/123456789" class="btn btn-whatsapp mt-auto">
            <i class="bi bi-whatsapp me-1"></i> Contactar por WhatsApp
          </a>
        </div>
      </div>
    </div>-->
    <div class="col-md-4">
     <div class="card">
       <img src="{{ url_for('static', filename='assets/img/cancha3.jpg') }}" class="card-img-top img-fluid" alt="Imagen de la cancha">
       <div class="card-body d-flex flex-column">
         
         <h5 class="card-title">Sol y Gol</h5>
         <blockquote style="font-style: italic; color: #2c3e50; border-left: 4px solid #2980b9; padding-left: 10px;">
          Espacio amplio para sesiones de entranmeinto y partidos de fútbol. Cuenta con servicios higiénicos y zona de hidratación.
       </blockquote>
         <p><strong>Puntuación:</strong> 
           <i class="bi bi-star-fill text-warning"></i>
           <i class="bi bi-star-fill text-warning"></i>
           <i class="bi bi-star-fill text-warning"></i>
           <i class="bi bi-star text-warning"></i>
           <i class="bi bi-star text-warning"></i>
         </p>
         <p><strong>Precio por hora:</strong> S/. 70.00</p>
            <!--<p><strong>Horario de atención:</strong> 10:00 AM - 22:00 PM</p>-->
            <p><strong>Seleccione el Horario de Reserva:</strong>

         <!-- Selector de horario -->
         <div class="form-group">
           <label>Hora de inicio:</label>
           <input type="time" class="form-control">
         </div>
         <div class="form-group mt-2">
           <label>Hora de fin:</label>
           <input type="time" class="form-control">
         </div>
         <div class="caracteristicas">
          <p>Cuenta con:</p>
          <ul class="mb-0">
            <li>Tribuna</li>
            <li>Estacionamiento</li>
            <li>Baños</li>
          </ul>
        </div>
         <div class="mt-auto pt-3 d-grid gap-2">
           <a href="https://wa.me/123456789" class="btn btn-whatsapp">
             <i class="bi bi-whatsapp me-1"></i> Contactar por WhatsApp
           </a>
           <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#puntuacionModal3">
             <i class="bi bi-star me-1"></i> Añadir Puntuación
           </button>                
           
         </div>
       </div>
     </div>
   </div>
  </div>
</div>
<div class="modal fade" id="puntuacionModal3" tabindex="-1" aria-labelledby="puntuacionModalLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <form method="POST" > 
       <div class="modal-header">
         <h5 class="modal-title" id="puntuacionModalLabel1">Puntuar Cancha</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
       </div>
       <div class="modal-body">
         <label for="puntuacion" class="form-label">Elige tu puntuación</label>
         <select class="form-select" name="puntuacion" id="puntuacion">
           <option value="1">⭐</option>
           <option value="2">⭐⭐</option>
           <option value="3">⭐⭐⭐</option>
           <option value="4">⭐⭐⭐⭐</option>
           <option value="5">⭐⭐⭐⭐⭐</option>
         </select>
       </div>
       <div class="modal-footer">
         <button type="submit" class="btn btn-primary">Enviar</button>
       </div>
     </form>
   </div>
 </div>
</div>

  </div>

  <div class="text-center my-4">
    <button class="btn btn-outline-primary mt-2" onclick="window.history.back();">← Regresar</button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block scripts%}
<script src="/static/assets/js/login.js"></script>
{% endblock%}
