.menu{
    height: 92.5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.circulo{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.nombre_usuario {
    width: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.gris_color{
    color: rgb(142, 143, 143);
}

.azul_color{
    color: #0D192C;
}

.btn_estilo_hover {
    border-radius: 0 !important;
    border: none !important;
    color: black;
}


.btn_estilo_hover:hover{
    background-color: #0D192C;
    color:white
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.card-body {
    padding: 1rem;
}

@media (max-width: 576px) {
    .btn-lg {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 1.5rem;
    }
}

/* Estilo para las imágenes (logo y banner) */
img.img-fluid {
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

img.img-fluid:hover {
    transform: scale(1.05); /* Efecto de zoom */
}

/* Estilo para los botones */
.btn-lg {
    margin: 10px;
    padding: 15px 25px;
    font-size: 1.2rem;
}

.card-header {
    font-size: 1.1rem;
    font-weight: bold;
}

.card-body {
    font-size: 1rem;
}

