{% extends 'base_interna.html' %}
{% block estilos %} 
    <link rel="stylesheet" href="/static/assets/css/reservas.css">
{% endblock %}
{% block contenido %}
<!-- Loader -->

    {% if listas_canchas  %}
        <div class=" shadow-lg rounded p-3 bg-white mb-2">
            <div class="justify-content-center d-flex align-items-center flex-wrap gap-3 ">

                <div class="d-flex align-items-center me-3">
                    <i class="bi bi-funnel-fill fs-4 text-primary me-2"></i>
                    <span class="fw-bold text-secondary">Filtros</span>
                </div>

                <!-- Fecha -->
                <div class="d-flex align-items-center flex-nowrap">
                    <i class="bi bi-calendar3 me-2 text-secondary"></i>
                    <label class="me-2 mb-0 fw-semibold white-space-nowrap">Fecha:</label>
                    <select class="form-select form-select-sm" id="fecha_actual" style="min-width: 140px;">
                        {% for fecha in fechas_listado %}
                            <option value="{{ fecha }}">{{ fecha }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Estado -->
                <div class="d-flex align-items-center flex-nowrap">
                    <i class="bi bi-toggle-on me-2 text-secondary"></i>
                    <label class="me-2 mb-0 fw-semibold white-space-nowrap">Estado:</label>
                    <select class="form-select form-select-sm" id="filtro_e" style="min-width: 120px;">
                        <option value="T">Ambos</option>
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                </div>

                <!-- Hora Inicio -->
                <div class="d-flex align-items-center flex-nowrap">
                    <i class="bi bi-clock me-2 text-secondary"></i>
                    <label class="me-2 mb-0 fw-semibold white-space-nowrap text-nowrap">Hora Inicio:</label>
                    <select  class="form-select form-select-sm" style="min-width: 120px;" id="hora_inicio_select">
                        {% for i in range(7,24) %}
                            <option value="{{ i }}" {% if i == 7 %}selected{% endif %}>{{ i }}:00</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Hora Fin -->
                <div class="d-flex align-items-center flex-nowrap">
                    <i class="bi bi-clock-history me-2 text-secondary"></i>
                    <label class="me-2 mb-0 fw-semibold white-space-nowrap text-nowrap">Hora Fin:</label>
                    <select class="form-select form-select-sm" style="min-width: 120px;" id="hora_fin_select">
                        {% for i in range(7,24) %}
                            <option value="{{ i }}"  {% if i == 23 %}selected{% endif %}  >{{ i }}:00</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="shadow-sm rounded p-3 bg-white mt-3 col-12 listas_canchas">
            {% for cancha in listas_canchas%}
                <div id="{{ cancha['id_cancha'] }}" class="row"> 
                    <div class="col-2 text-center">
                        <input type="text"  value="{{ cancha['id_cancha'] }}" class="d-none">
                        <span class="fw-bold text-primary">{{ cancha['nombre'] }}</span>
                    </div>
                    <div class="col-10 horarios_cc" >
                        {% for horario in lista_horario %}
                            <button class="btn btn-success m-1 horas" data-inicio="{{ horario['hora_inicio'] }}" onclick="abrir_nodal(this,`{{ cancha['nombre'] }}`, `{{ cancha['id_cancha'] }}`)">
                                {{ horario['hora_inicio'] }} - {{ horario['hora_fin'] }}
                            </button>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal_detalle" tabindex="-1" aria-labelledby="modalDetalleLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <input type="text" id="id_rs" class="d-none">
            <input type="text" id="id_cancha" class="d-none">

            <div class="modal-header">
                <h5 class="modal-title" id="modalDetalleLabel">Detalle de Reserva</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            
            <div class="modal-body">
                <p><strong>Cancha:</strong> <span id="detalle_cancha"></span></p>
                <p><strong>Estado:</strong> <span  id="detalle_estado"></span></p>
                <div class="d-flex" id="frm_usu">
                   <strong class="text-nowrap">Ingrese el dni:</strong> 
                        <input type="number" id="numero_dni" class="form-control form-control-sm ms-2 me-2" placeholder="Ingrese un numero de dni" >
                        <button class="btn btn-sm btn-outline-success ms-2 " id="btn_search" onclick="verificar_usuariodni()" disabled><i class="bi bi-search" ></i> </button>
                </div>
                <div class="row mt-3">
                    <div class="col-5">
                        <p><strong>Datos del jugador:</strong> 
                        </p>
                    </div>
                    <div class="col-7" id="detalle_cliente">

                    </div>
                </div>
                
                <p><strong>Hora:</strong> <span id="detalle_hora"></span></p>
                <!-- Agrega más campos si lo necesitas -->
            </div>
            
            <div class="modal-footer" id="foot_modal">
                <!-- Sin botones por ahora -->
            </div>
            
            </div>
        </div>
        </div>


    {% else%}
        No hay canchas activas, verifique su estado
    {% endif %}
{% endblock %}

{% block scripts %}

<script>
    let datos_canchas = JSON.parse('{{ listas_canchas | tojson | safe }}');
</script>
<script src="/static/assets/js/reservas.js"></script>
{% endblock %}