{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-auto sidebar-admin px-0">
        <div class="d-flex align-items-center mt-3 px-3">
          <img src="/static/assets/img/red.png" alt="Perfil" class="rounded-circle" width="48" height="48">
          <div class="ms-2">
            <div class="fw-bold azul_color">{{ session.get('nombre') }}</div>
            <small class="gris_color">{{ session.get('tipo') }}</small>
          </div>
        </div>
        <hr class="mx-3">
        <div class="px-3">
          <a href="{{ url_for('perfil') }}" class="btn w-100 btn_sidebar">Perfil</a>  
          {% if session.get('tipo') == 'Alquilador' %}
            {% if session.get('vc') == 'V' %}
              <a href="{{ url_for('pagina_registrar') }}" class="btn w-100 btn_sidebar">Locales</a>
              {% if session.get('local') == 1 %}    
                <a href="{{ url_for('canchass') }}" class="btn w-100 btn_sidebar">Canchas</a>
                <a href="{{ url_for('pagina_reservas') }}" class="btn w-100 btn_sidebar">Agregar reservas</a>
              {% endif %}
            {% endif %}
          {% elif session.get('tipo') == 'Administrador' %}
            <a href="{{ url_for('solicitudes') }}" class="btn w-100 btn_sidebar">Solicitudes</a>
            <a href="#" class="btn w-100 btn_sidebar">Otra opción</a>
          {% endif %}
        </div>   
   </div>

    <!-- Main Content -->
    <div class="col g-0 position-relative">
      <div class="loader d-none">
        <div>
          <span class="spinner-border text-blue load" role="status">
          </span>
        </div>
      </div>
      <main class="pt-3 px-3 px-lg-4  h-100 g-0 w-100 " >
        <h2 class="titulo-pagina-cy">{% block titulo_pagina %}{% endblock %}</h2>
        {% block contenido %}{% endblock %}
      </main>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script src="/static/assets/js/interna.js"></script>
{% endblock %}
{% block foot %}

{% endblock %}